<nav class="navbar d-flex justify-content-between bg-light">
  <div>
    <%= link_to 'Simple Airbnb', flats_path, class: "btn" %>
  </div>
  <div>
    <%= link_to 'Add flat', new_flat_path, class: "btn btn-outline-primary" %>
  </div>
</nav>
