<%= render 'navbar' %>
<div class="container mt-4">
  <h1 class="row justify-content-center py-4">Add a new flat</h1>
  <div class="row justify-content-center">
    <div class="col-6">
      <%= render 'form', flat: @flat %>
    </div>
  </div>
</div>
